<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.florist24hrs" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>florist24hrs</name>
    <description>
        Web site Florist24hrs.com
    </description>
    <author email="info@webstudiosolutions.com" href="http://www.webstudiosolutions.com">
        Web Studio Solutions Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
